<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Giriş</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>🔐 Giriş</h1>

<form method="post">
  <label>Kullanıcı adı</label><br>
  <input name="username" required><br><br>

  <label>Şifre</label><br>
  <input type="password" name="password" required><br><br>

  <button type="submit">Giriş Yap</button>
</form>

<p style="margin-top:16px; font-size:14px;">Giriş yapınca: <code>/anasayfa</code></p>
</body>
</html>
